body{
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  width: 100%;
}

.banner {
  background-image: url(https://camo.githubusercontent.com/90f24316b24433bf0a2778d95ca93ad264093645a71d2eb9f569cdbc34fbfc6d/68747470733a2f2f6372797374616c2d63646e322e6372797374616c636f6d6d657263652e636f6d2f70686f746f732f363333303536352f73706c61736842616e6e65725f706f6b656d6f6e2e6a7067);
  background-size: cover;
  padding: 120px 0;
}

h1, h2{
  display: block;
  font-size: 2em;
  font-weight: bold;
  background-color: rgb(240, 248, 255, 0.8);
}

.container{
  margin: 0 auto;
  width: 50%;
}

.container-p {
  background-color: rgb(240, 248, 255, 0.8);
}

.link-medium{
  font-size: 30px;
  color: black;
  text-decoration: none;
  background-color: rgb(255, 255, 0, 0.2);
}

.link-medium:hover{
  background-color: rgb(255, 255, 0);
}


@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
